Repository typeorm/typeorm, pull requests merged in 2025-03, with the labels that each got.

#11321 fix(sap): pass the configured schema to the db client
  src/driver/sap/SapDriver.ts
Labels: bug, driver: sap hana

#11322 fix(sap): incorrect handling of simple array/json data type
  src/driver/sap/SapDriver.ts
  test/functional/database-schema/column-types/sap/column-types-sap.ts
Labels: driver: sap hana

#11345 feat(postgres): support macaddr8 column type
  docs/entities.md
  docs/zh_CN/entities.md
  src/driver/postgres/PostgresDriver.ts
  src/driver/types/ColumnTypes.ts
  test/functional/database-schema/column-types/postgres/column-types-postgres.ts
  test/functional/database-schema/column-types/postgres/entity/Post.ts
Labels: driver: postgres

#11361 build: improve test workflow
  .github/workflows/database-compose-tests.yml
  .github/workflows/database-tests.yml
  .github/workflows/test.yml
  .github/workflows/test/better-sqlite3.ormconfig.json
  .github/workflows/test/cockroachdb.ormconfig.json
  .github/workflows/test/mongodb.ormconfig.json
  .github/workflows/test/mssql.ormconfig.json
  .github/workflows/test/mysql-mariadb.ormconfig.json
  .github/workflows/test/oracle.docker-compose
  .github/workflows/test/oracle.docker-compose.yml
  .github/workflows/test/oracle.ormconfig.json
  .github/workflows/test/postgres.ormconfig.json
  .github/workflows/test/sqlite.ormconfig.json
  .github/workflows/test/sqljs.ormconfig.json
  .github/workflows/windows-database-tests.yml
  .mocharc.json
  DEVELOPER.md
  docker-compose.yml
  docker/oracle/01_init.sql
  docker/oracle/Dockerfile
  docker/oracle/startup/01_init.sql
  ormconfig.circleci-common.json
  ormconfig.json.dist
  package-lock.json
  package.json
  src/connection/ConnectionOptionsReader.ts
  test/functional/connection-options-reader/configs/.env
  test/functional/connection-options-reader/configs/ormconfig.env
  test/functional/connection-options-reader/configs/yaml/test-yaml.yaml
  test/functional/connection/replication.ts
  test/functional/find-options/array-contained-by-operator/array-contained-by-operator.test.ts
  test/functional/find-options/array-contains-operator/array-contains-operator.test.ts
  test/functional/find-options/array-overlap/array-overlap-operator.test.ts
  test/functional/json/basic-jsonb/basic-jsonb.test.ts
  test/functional/json/jsonb-defaults/jsonb-defaults.test.ts
  test/functional/repository/decrement/repository-decrement.ts
  test/functional/repository/increment/repository-increment.ts
  test/functional/tree-tables/materialized-path/materialized-path.ts
  test/functional/util/OrmUtils.ts
  test/github-issues/10563/issue-10563.ts
  test/github-issues/10626/issue-10626.ts
  test/github-issues/2965/index.ts
  test/github-issues/4782/issue-4782.ts
  test/github-issues/6195/issue-6195.ts
  test/github-issues/9534/issue-9534.ts
  test/github-issues/9770/issue-9770.ts
  test/unit/connection-options-reader/configs/class-entities.ts
  test/unit/connection-options-reader/configs/sqlite-memory.ts
  test/unit/connection-options-reader/configs/test-path-config-async.ts
  test/unit/connection-options-reader/configs/test-path-config-esm.ts
  test/unit/connection-options-reader/configs/test-path-config.ts
  test/unit/connection-options-reader/connection-options-reader.ts
  test/unit/orm-utils.ts
  test/unit/util/import-utils.ts
  test/unit/util/orm-utils.ts
  test/unit/util/path-utils.ts
  test/unit/util/string-utils.ts
  test/unit/util/version-utils.ts
  test/utils/test-setup.ts
Labels: test

#11347 build: setup SAP HANA tests
  .github/workflows/database-compose-tests.yml
  .github/workflows/database-tests-compose.yml
  .github/workflows/database-tests-windows.yml
  .github/workflows/test.yml
  .github/workflows/test/oracle.docker-compose.yml
  .github/workflows/test/oracle.ormconfig.json
  DEVELOPER.md
  docker-compose.yml
  ormconfig.sample.json
  package-lock.json
  package.json
  src/driver/sap/SapDriver.ts
  src/driver/sap/SapQueryRunner.ts
  test/functional/connection/replication.ts
  test/functional/database-schema/custom-constraint-names/foreign-key/foreign-key.ts
  test/functional/database-schema/custom-constraint-names/index/index.ts
  test/functional/database-schema/custom-constraint-names/unique/unique.ts
  test/functional/entity-schema/custom-constraint-names/foreign-key/foreign-key.ts
  test/functional/entity-schema/custom-constraint-names/index/index.ts
  test/functional/entity-schema/custom-constraint-names/unique/unique.ts
  test/functional/persistence/orphanage/delete/delete-orphans.ts
  test/functional/persistence/orphanage/delete/entity/Category.ts
  test/functional/persistence/orphanage/disable/disable-orphanage.ts
  test/functional/persistence/orphanage/disable/entity/Setting.ts
  test/functional/persistence/orphanage/disable/entity/User.ts
  test/functional/query-builder/cte/recursive-cte.ts
  test/functional/query-builder/cte/simple-cte.ts
  test/functional/query-builder/delete/query-builder-delete.ts
  test/functional/query-runner/rename-table.ts
  test/functional/schema-builder/custom-db-and-schema-sync.ts
  test/functional/uuid/sap/uuid-sap.ts
  test/github-issues/2298/entity/Product.ts
  test/github-issues/2298/entity/Ticket.ts
  test/github-issues/2298/issue-2298.ts
  test/github-issues/2376/issue-2376.ts
  test/github-issues/6815/issue-6815.ts
  test/github-issues/8681/entity/thing.entity.ts
  test/github-issues/8681/issue-8681.ts
  test/github-issues/9381/entity/ExampleEntity.ts
  test/github-issues/9381/issue-9381.ts
  test/utils/test-utils.ts
Labels: test, driver: sap hana

#10688 fix: export QueryEvent before/after types
  src/index.ts
  src/subscriber/event/QueryEvent.ts
Labels: size-xs
